{:deps
 {org.clojure/clojure {:mvn/version "1.12.0"}
  org.clojure/data.json {:mvn/version "2.5.1"}
  org.clojure/data.fressian {:mvn/version "1.1.0"}
  com.cognitect/transit-clj {:mvn/version "1.0.333"}
  frankiesardo/linked {:mvn/version "1.3.0"}
  funcool/cuerdas {:mvn/version "2025.06.16-414"}
  lambdaisland/uri {:mvn/version "1.19.155"
                    :exclusions [org.clojure/data.json]}
  
  ;; Compression libraries
  com.github.luben/zstd-jni {:mvn/version "1.5.5-11"}
  org.lz4/lz4-java {:mvn/version "1.8.0"}
  
  ;; PostgreSQL
  org.postgresql/postgresql {:mvn/version "42.7.1"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.909"}}
 
 :paths ["src"]
 
 :aliases
 {:run
  {:main-opts ["-m" "penpot-extractor.main"]}
  
  :uberjar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn hf.depstar/uberjar
   :exec-args {:jar "penpot-extractor.jar"
               :aot true
               :main-class penpot-extractor.main}}}}
